:root {
    --clock-width: 50vw;
    --clock-height: var(--clock-width);
    --second-hand: calc(var(--clock-width) * .01);
    --second-hand-length: calc(var(--clock-width) * .45);
    --hour-hand: calc(var(--clock-width) * .05);
    --hour-hand-length: calc(var(--clock-width) * .3);
    --minute-hand: calc(var(--clock-width) * .03);
    --minute-hand-length: calc(var(--clock-width) * .375);
    --dot: 2vw;
}

body {
    box-sizing: border-box;
}
.container {
    position: relative;    
    /* border: 1px solid blue; */
    width: var(--clock-width);
    height: var(--clock-height);
    top: calc(100vh/2);
    left:calc(100vw/2);
    transform: translate(-50%, -50%);
}
.clock-face {
    position: absolute;
    width: var(--clock-width);
    height: var(--clock-height);
    border: 1px solid red;
    border-radius: calc(var(--clock-width) / 1.5);
    
}

.clock-center {
  position: absolute;
    top: calc(var(--clock-width)/2);
    left: calc(var(--clock-width)/2);
    transform:translate(-50%, -50%);
    width: 5vw;
    height: 5vw;
    border: 1px solid red;
    border-radius: 50vw;
    visibility: hidden;
}


.hour-hand {
    position: absolute;
    top: calc(var(--clock-width)/2  - var(--hour-hand-length));
    left: calc(var(--clock-width)/2);
    
    transform-origin: center bottom;
    transform: translateX(-50%) rotate(0deg);
    width: var(--hour-hand);
    height: var(--hour-hand-length);
    background-color: blue;
    border-radius: 1vw;
}

.minute-hand {
    position: absolute;
    top: calc(var(--clock-width)/2 - var(--minute-hand-length));
    left: 50%;
    transform-origin: center bottom;
    transform: translateX(-50%) rotate(0deg);
    width: var(--minute-hand);
    height: var(--minute-hand-length);
    background-color: black;
    border-radius: 1vw;
}

.second-hand {
    position: absolute;
    top: calc(var(--clock-width)/2 - var(--second-hand-length));
    left: 50%;
    transform-origin: center bottom;
    transform: translateX(-50%) rotate(0deg);
    width: var(--second-hand);
    height: var(--second-hand-length);
    background-color: purple;
    border-radius: 1vw;
}

.numbers {
    font-size: 1.5em;
    /* border: 1px solid green; */
}

.number12 {
    position:absolute;
    top:0;
    left: calc(var(--clock-width)/2);
    transform-origin: center;
    transform: translate(-50%);

}

.number3 {
    position:absolute;
    top:calc(var(--clock-width)/2);
    left: calc(var(--clock-width));
    transform-origin: center;
    transform: translate(-120%, -50%);

}
.number6 {
    position:absolute;
    top:calc(var(--clock-width));
    left: calc(var(--clock-width)/2);
    transform-origin: center;
    transform: translate(-50%, -100%);

}

.number9 {
    position:absolute;
    top:calc(var(--clock-width)/2);
    left: 0;
    transform-origin: center;
    transform: translate(50%, -50%);

}

.number1 {
    position:absolute;
    top:calc(var(--clock-width) * 0.1340/2);
    left: calc(var(--clock-width) * 1.5/2);
    transform-origin: center;
    transform: translate(-100%);
}

.number2 {
    position:absolute;
    top:calc(var(--clock-width) * 0.5/2);
    left: calc(var(--clock-width) * 1.87/2);
    transform-origin: center;
    transform: translate(-100%);

}

.number4 {
    position:absolute;
    top:calc(var(--clock-width) * 1.5/2);
    left: calc(var(--clock-width) * 1.87/2);
    transform-origin: center;
    transform: translate(-100%, -100%);
    
}

.number5 {
    position:absolute;
    top:calc(var(--clock-width) * 1.87/2);
    left: calc(var(--clock-width) * 1.5/2);
    transform-origin: center;
    transform: translate(-50%, -100%);

}

.number7 {
    position:absolute;
    top:calc(var(--clock-width) * 1.87/2);
    left: calc(var(--clock-width) * 0.5/2);
    transform-origin: center;
    transform: translate(0, -100%);

}

.number8 {
    position:absolute;
    top:calc(var(--clock-width) * 1.5/2);
    left: calc(var(--clock-width) * 0.134/2);
    transform-origin: center;
    transform: translate(0, -100%);

}

.number10 {
    position:absolute;
    top:calc(var(--clock-width) * 0.5/2);
    left: calc(var(--clock-width) * 0.134/2);
    transform-origin: center;
    transform: translate(12.5%, -12.5%);

}

.number11 {
    position:absolute;
    top:calc(var(--clock-width) * 0.1340/2);
    left: calc(var(--clock-width) * 0.5/2);
    transform-origin: center;
    transform: translate(-6.25%, 12.5%);

}

.dot {
    position: relative;
    width: var(--dot);
    height: var(--dot);
    border: 1px solid black;
    background-color: black;
    border-radius: 2vw;
}